
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  background-image: url('/assets/beach.jpg' );
  background-size: cover;
  background-repeat: no-repeat;
}
.center-div{
    padding-top: 10%;
}
.btn btn-primary{
    padding: 4em 2em;
}
form{
    padding: 0 3em;
}
.container{
   backdrop-filter: blur(1em);
   box-shadow: 1em rgba(0,0,0,0.1);
}
.form-control{
    background: transparent;
    border: 1px solid white;
}
